<div class="row">
    <div class="col-sm-9">
        <div class="panel panel-danger" >
            <div class="panel-body">
                <form name="newStudentForm">
                    <div class="row" style="margin-top: 2em">
                        <div class="col-sm-2">
                            <label for="firstName" style="margin-top: 0.5em">Prénom:</label>
                        </div>
                        <div class="col-sm-4">
                            <input class="form-username form-control"  type="text"  placeholder="Prénom ..."  id="firstName"
                                   ng-model="addRegistration.tmpStudent.firstName" name="firstName" required
                                   ng-class="{invalidInput: newStudentForm.firstName.$invalid}">
                        </div>
                        <div class="col-sm-1 col-sm-offset-1">
                            <label for="lastName"  style="margin-top: 0.5em">Nom:</label>
                        </div>
                        <div class="col-sm-4">
                            <input class="form-username form-control"  type="text"  placeholder="Nom ..."  id="lastName"
                                   ng-model="addRegistration.tmpStudent.lastName" name="lastName" required
                                   ng-class="{invalidInput: newStudentForm.lastName.$invalid}">
                        </div>
                    </div>
                    <div class="row" style="margin-top: 2em">
                        <label class="col-sm-2" style="margin-top: 0.5em">Sexe:</label>
                        <div class="btn-group col-sm-4 ">
                            <label class="btn btn-info" ng-model="addRegistration.tmpStudent.gender" uib-btn-radio="'MALE'" >Masculin</label>
                            <label class="btn btn-info" ng-model="addRegistration.tmpStudent.gender" uib-btn-radio="'FEMALE'">Féminin</label>
                        </div>
                        <div class="col-sm-1 col-sm-offset-1">
                            <label>Classe:</label>
                        </div>
                        <div class="col-sm-4">
                            <select name="singleSelect" ng-model="addRegistration.tmpStudent.className">
                                <option ng-repeat="cl in addRegistration.classesNames.all"  ng-selected="addRegistration.classesNames.all.indexOf(cl)==0"
                                        value="{{cl}}">{{cl}} -- {{addRegistration.classesNames[cl]}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 2em">
                        <div class="col-sm-6">
                            <label style="margin-top: 0.5em">Date de naissance:</label>
                        </div>
                        <div class="col-sm-6">
                            <label> {{addRegistration.tmpStudent.birthDate | date:'dd-MM-yyyy'}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <datetimepicker data-ng-model="addRegistration.tmpStudent.birthDate"  data-on-set-time="addRegistration.onTimeSet(newDate, oldDate)"
                                        data-datetimepicker-config="{ startView:'year', minView:'day' }"></datetimepicker>
                    </div>

                    <div class="row" style="margin-top: 2em">
                        <div class="col-sm-2">
                            <button ng-disabled="newStudentForm.$invalid || addRegistration.isBirthDateValid==false"
                                    class="btn btn-warning" type="button" ng-click="addRegistration.okNewStudent()">Ajouter</button>
                        </div>
                        <div class="col-sm-2 col-sm-offset-1">
                            <button class="btn btn-primary" type="button" ng-click="addRegistration.cancelNewStudent()">Annuler</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<pre style="margin-top: 50px">{{addRegistration.tmpStudent.birthDate}}</pre>